PORT=votre port
PG_URL=
DATABASE_URL=
API_KEY=
DEFAULT_LANGUAGE=fr-FR
BASE_URL=https://api.themoviedb.org/3/
SESSION_SECRET=
DATABASE_URL=postgres://sanman:sanman@localHost:5000/azap

; PORT=3000
; API_KEY=0c0f306539f7e9b203cb170dbc63b639
; DEFAULT_LANGUAGE=fr-FR
; NODE_ENV=development
; BASE_URL=https://api.themoviedb.org/3/
; SESSION_SECRET=sanman
; DATABASE_URL=postgres://wjkhvyraxudvjk:b24bbbb24a3ff6e4e973204abb18839352797a1225a568c5c288fbbc903767f9@localHost:5000/d5ku0ui5q2bb62
; PG_URL=postgres://wjkhvyraxudvjk:123456@localhost:5432/atat

; PORT=5000
; PG_URL=
; API_KEY=455dc6a8d89a57de7742f24ebbf4b441
; DEFAULT_LANGUAGE=fr-FR
; BASE_URL=https://api.themoviedb.org/3/
; SESSION_SECRET="This is the very secret secret code for AZAP sessions"
; DATABASE_URL=protocol://sanman:@host/db_name
; postgres://
; API_KEY=455dc6a8d89a57de7742f24ebbf4b441
; DEFAULT_LANGUAGE=fr-FR
; BASE_URL=https://api.themoviedb.org/3/
; SECRET_KEY="secret jwt"